{% extends 'admin/base.html' %}
{% load static %}
{% block title %} Add Media {% endblock %}
{% block content %}



    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active">Datatable</li>
                        </ol>
                    </div>
                    {% if editMedia %}
                        <h5 class="page-title">Edit Media</h5>
                    {% else %}
                        <h5 class="page-title">Add Media</h5>
                    {% endif %}
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <p class="text-muted font-14 m-b-20">
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            </p>
                            {% if editMedia %}
                                <form action="/admin/updatemedia" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="text" value="{{ editMedia.id }}" hidden name="id">


                                    <div class="form-group">
                                        <label for="emailAddress">Upload Media Image<span
                                                class="text-danger">*</span></label>
                                        <input type="file" name="mediaImage" id="file" parsley-trigger="change"
                                               onchange="loadFile(event)"
                                               placeholder="Enter Image" class="form-control" id="emailAddress"
                                               style="display: none;" value="{{ editMedia.mediaImage }}">
                                        <p><img id="output" style="width: 100%"
                                                src="/media/{{ editMedia.mediaImage }}"/>
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Media Title<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="mediaTitle" parsley-trigger="change" required
                                               placeholder="Enter Media Title" class="form-control" id="emailAddress"
                                               value="{{ editMedia.mediaTitle }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Media Description<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="mediaDesc" parsley-trigger="change" required
                                               placeholder="Enter Media Description" class="form-control"
                                               id="emailAddress"
                                               value="{{ editMedia.mediaDesc }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Author Name<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="byName" parsley-trigger="change" required
                                               placeholder="Enter Media Description" class="form-control"
                                               id="emailAddress"
                                               value="{{ editMedia.byName }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Related<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="related" parsley-trigger="change" required
                                               placeholder="Enter Media Related" class="form-control"
                                               id="emailAddress"
                                               value="{{ editMedia.related }}">
                                    </div>


                                    <div class="form-group text-right m-b-0">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                            Cancel
                                        </button>
                                    </div>

                                </form>

                            {% else %}
                                <form action="/admin/insertmedia" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="form-group">
                                        <label for="emailAddress">Upload Media Image<span
                                                class="text-danger">*</span></label>
                                        <input type="file" name="mediaImage" parsley-trigger="change" accept="image/*"
                                               id="file" onchange="loadFile(event)"
                                               placeholder="Enter link" class="form-control" id="emailAddress">
                                        <p><img id="output" style="width: 100%"
                                                {% if mediaImage %}src="{{ mediaImage }}"{% endif %}/></p>
                                    </div>


                                    <div class="form-group">
                                        <label for="emailAddress">Media Title<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="mediaTitle" parsley-trigger="change"
                                               placeholder="Enter Media Title" class="form-control" id="emailAddress"
                                               {% if mediaTitle %}value="{{ mediaTitle }}"{% endif %}>
                                    </div>


                                    <div class="form-group">
                                        <label for="emailAddress">Media Description<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="mediaDesc" parsley-trigger="change"
                                               placeholder="Enter Law Description" class="form-control"
                                               id="emailAddress"
                                               {% if mediaDesc %}value="{{ mediaDesc }}"{% endif %}>
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Author Name<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="byName" parsley-trigger="change"
                                               placeholder="Enter Law Description" class="form-control"
                                               id="emailAddress"
                                               {% if byName %}value="{{ byName }}"{% endif %}>
                                    </div>

                                    <div class="form-group">
                                        <label for="emailAddress">Related<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="related" parsley-trigger="change"
                                               placeholder="Enter Law Description" class="form-control"
                                               id="emailAddress"
                                               {% if related %}value="{{ related }}"{% endif %}>
                                    </div>


                                    <div class="form-group text-right m-b-0">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                            Cancel
                                        </button>
                                    </div>

                                </form>
                            {% endif %}
                            <br>

                        </div>
                    </div>
                </div><!-- end col --></div><!-- end row --></div><!-- container fluid --></div>
    <!-- Page content Wrapper -->


    <script src="{% static 'solkStatic/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/dataTables.bootstrap4.min.js' %}"></script><!-- Buttons examples -->
    <script src="{% static 'solkStatic/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/jszip.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'solkStatic/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/buttons.colVis.min.js' %}"></script><!-- Responsive examples -->
    <script src="{% static 'solkStatic/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'solkStatic/js/responsive.bootstrap4.min.js' %}"></script><!-- Datatable init js -->
    <script src="{% static 'solkStatic/js/datatables.init.js' %}"></script><!-- App js -->
{% endblock %}