{% extends 'user/base.html' %}
{% load static %}
{% block content %}

    <section class="inner-banner-style-one text-center"
             style="background-image: url({% static 'userlawyer/img/jpg/inner-banner-1-8.jpg' %});">
        <div class="container">
            <h1>Faq’s</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div><!-- /.container -->
    </section><!-- /.inner-banner-style-one -->

    <section class="faq-page faq-style-one sec-pad">
        <div class="container">
            <div class="sec-title text-center">
                <h2>Frequently Asked Questions</h2>
            </div><!-- /.sec-title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="accrodion-grp" data-grp-name="faq-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4>Why Lawguard is the Best? </h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                        transformed in his bed into a horrible vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he could see his brown belly, slightly domed
                                        and divided by arches into stiff sections. The bedding was hardly able to cover
                                        it and seemed ready to slide off any moment. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-title">
                                <h4>Why You choose us? </h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                        transformed in his bed into a horrible vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he could see his brown belly, slightly domed
                                        and divided by arches into stiff sections. The bedding was hardly able to cover
                                        it and seemed ready to slide off any moment. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>What is a consulting group?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                        transformed in his bed into a horrible vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he could see his brown belly, slightly domed
                                        and divided by arches into stiff sections. The bedding was hardly able to cover
                                        it and seemed ready to slide off any moment. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>What is a Home Occupation Permit?</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                        transformed in his bed into a horrible vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he could see his brown belly, slightly domed
                                        and divided by arches into stiff sections. The bedding was hardly able to cover
                                        it and seemed ready to slide off any moment. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>One morning, when Gregor Samsa</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself
                                        transformed in his bed into a horrible vermin. He lay on his armour-like back,
                                        and if he lifted his head a little he could see his brown belly, slightly domed
                                        and divided by arches into stiff sections. The bedding was hardly able to cover
                                        it and seemed ready to slide off any moment. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.faq-feature-wrapper -->

    <section class="upper-footer no-parallax wow fadeInUp" data-wow-delay="600"
             style="background-image: url({% static 'userlawyer/img/jpg/parallax-1-8.jpg' %});">
        <div class="container">
            <h3>Every Person Who Walks Through Our Door <br>Is Important To Us.</h3>
        </div><!-- /.container -->
    </section><!-- /.upper-footer -->

{% endblock %}