{% extends 'user/base.html' %}
{% load static %}
{% block content %}

    <section class="inner-banner-style-one text-center"
             style="background-image: url({% static 'userlawyer/img/jpg/inner-banner-1-5.jpg' %});">
        <div class="container">
            <h1>Testimonials</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div><!-- /.container -->
    </section><!-- /.inner-banner-style-one -->

    <section class="testimonials-style-one sec-pad testimonials-page">
        <div class="container">
            <div class="sec-title text-center">
                <h2>From Our Clients</h2>
                <p>Donec leo augue, vulputate a eros at, sollicitudin elementum dolor. Aliquam <br>consequat mollis
                    sapien sed ullamcorper.</p>
                <p class="tag-line">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <br>viverra quam
                    in laoreet quis justo. ivamus varius semper suscipit. <br>Aliquam erat volutpatUt nec magna arcu.
                    Interdum et”</p>
            </div><!-- /.sec-title text-center -->
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInLeft" data-wow-delay="400">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Leigh Dicecco</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInUp" data-wow-delay="800">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Chrissy Olecki</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInRight" data-wow-delay="1200">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Deadra Feldkamp</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInLeft" data-wow-delay="400">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Renay Cromey</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInUp" data-wow-delay="800">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Teresa Constant</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-testimonials-style-one wow fadeInRight" data-wow-delay="1200">
                        <i class="fa fa-quote-right qoute"></i>
                        <div class="star-box">
                            <i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i><!--
                            --><i class="fa fa-star"></i>
                        </div><!-- /.star-box -->
                        <p>“Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.
                            Vivamus suscipit tortor eget felis”</p>
                        <h3>Dorian Noorda</h3>
                    </div><!-- /.single-testimonials-style-one -->
                </div><!-- /.col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.testimonials-style-one -->



    <section class="upper-footer overlay-style-two wow fadeInUp" data-wow-delay="600"
             style="background-image: url({% static 'userlawyer/img/jpg/parallax-1-12.jpg' %});">
        <div class="container">
            <h3>Every Person Who Walks Through Our Door <br>Is Important To Us.</h3>
        </div><!-- /.container -->
    </section><!-- /.upper-footer -->

{% endblock %}